<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITG Marketplace-order på väg!</title>
    <style>
        table {
            border-collapse: collapse;
            width: auto;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <img src="http://231077.net:8008/img/weloveit.jpg" alt="ITG Logo" />
    <h1>Hej {{ name }}!</h1>
    <p>Din beställning är skapad och packeteras när giltig betalning kommit in till oss. Swisha <b>{{ total }}</b> kr till <b>0704151877</b></p>

    <p>Du har blivit tilldelad ordernummer: <b>{{ order_number }}.</b><br>
        När beställningen är redo att hämtas får du ett mejl. Ordern hämtas i cafét.<br>
        Ange då de fyra sista siffrorna i ordernumret.</p>

    
    <p>Din order ser ut så här:</p>
    <p>
        <table>
        <tr>
            <th>Produkt</th>
            <th>Antal</th>
            <th>Storlek</th>
            <th>Pris per styck (kr)</th>
        </tr>
        {% autoescape off %}{{ order }}{% endautoescape %}
        </table>
    </p>
    <p>Med vänliga hälsningar, <br><b>ITG Market</b></p>
    <p>Observera att mejlet är automatiskt genererat, dock kan du svara på detta mejl om några frågor uppstår.</p>
</body>
</html>
