<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="http://231077.net:8008/img/weloveit.jpg" alt="ITG Logo" />
    <h1>Hej {{ name }}!</h1>
    <p>Din order är nu redo att hämtas!</p>
    <p>Ordern hämtas i cafét, ange där <b>{{ fourlast }}</b> (fyra sista siffrorna i ordernumret).</p>
    <p>Med vänliga hälsningar, <br><b>ITG Market</b></p>
    <p>{{ name }} {{ usr_email }} {{ order_number }} {{ date }}</p>
</body>
</html>
