<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login bitte</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            font-family: 'Roboto', sans-serif;
            display: flex;
            justify-content: center;
        }

        #wrapper {
            border: 2px solid black;
            padding: 10px;
            width: 300px;
            
        }

        #container {
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <h3>Manage login</h3>
            <form action="/order/login/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="i solemnly swear that I am up to no good" />
            </form>
        </div>
    </div>
    </body>
</html>