/* For all, body, html etc CSS */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    background-color: transparent;
    transition: all .5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.blue {
    color: #1E90FF;
}

.pink {
    color: #FF1493;
}

.orange {
    color: #FF8C00;
}

.f1f1f1-color-div {
    background-color: #f1f1f1;
    height: 70px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
p {
    color: #fff;
}

.hide {
    display: none;
}

i.fa {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.095);
    width: 4rem;
    text-align: center;
    height: 3rem;
    padding-top: 1rem;
    border-radius: 50%;
    color: #fff;
}


/* Header CSS */


.headline {
    background-color: #000;
}

.headline-text h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    /*background-color: #000;*/
    height: 120px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-style: normal;
    justify-content: center;
}

.img-bar-top-href img {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 99;
    width: 130px;
    height: 130px;
}

.img-bar-top-href:hover {
    opacity: 0.8;
}

i.fa-cart-plus {
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
    font-size: 3rem;
    width: 5rem;
    height: 4rem;
}

i.fa-cart-plus:hover {
    background: linear-gradient(#1E90FF, #FF1493, #FF8C00);
}

/* Shopping cart mini display */

.shopping_cart_mini {
    width: 700px;
    height: auto;
    margin-top: 1%;
    position: absolute !important;
    right: 1%;
    background-color: #fff;
    padding: 5px;
    border: 3px solid #1E90FF;
    max-width: 100%;
    z-index: 99;
}

.shopping_cart_mini .remove_div_mini {
    text-decoration: none;
    color: #FF0000;
    font-weight: 900;
    position: absolute;
    right: 1%;
    top: 1%;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
}

.shopping_cart_mini h1 {
    color: #000;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 2px solid #FF1493;
    font-size: 40px;
}
 
.shopping_cart_mini .simpleCart_items table tbody td img {
    width: 70px;
    height: auto;
}

.shopping_cart_mini .simpleCart_items table thead th {
    font-size: 24px;
    width: 10%;
}

.shopping_cart_mini .simpleCart_items table tbody td {
    font-size: 16px;
    color: #000;
}

.shopping_cart_mini .simpleCart_items table tbody td .simpleCart_remove {
    font-size: 16px;
    color: #ff0000;
}

.shopping_cart_mini .simpleCart_items table tbody td .simpleCart_remove:hover {
    padding: 5px;
    font-size: 32px;
}

.shopping_cart_mini .simpleCart_items table tbody td input {
    width: 50%;
}

.shopping_cart_mini .grand_total_p {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 20px;
}

.shopping_cart_mini button {
    background-color: #000;
    border: 3px solid #FF8C00;
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.shopping_cart_mini button:hover {
    opacity: 0.7;
}


/* Middle CSS */


#middle-main-out-plac {
    background-color: #000;
}

#middle-plac-in {
    padding: 25px;
}

.middle-img-plac-txt {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap; 
    /*justify-content: center;*/
}

.middle-img-plac-txt div {
    max-height: 279px;
    width: 250px;
    overflow: hidden;
    padding: 25px;
    height: 229px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: left;
}

.middle-img-plac-txt div p {
    padding: 0;
    margin: auto;
    font-size: 18px;
    height: auto;
    max-width: 100%;
}

.middle-img-plac-txt div h2 {
    padding: 0;
    margin: auto;
    border: 0;
}

.blue-txt-plac  {
    background-color: #1E90FF;
}

.pink-txt-plac  {
    background-color: #FF1493;
}

.orange-txt-plac  {
    background-color: #FF8C00;
}

.first-img-middle-plac {
    position: relative;
}


/* Merch */


.merch {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
    border-top: 2px solid rgba(255, 255, 255, 0.095);
    /*background-color: #fff;*/
}

.merch img {
    width: 265px;
    height: 285px;
    padding: 20px;
    margin-top: 5px;
    justify-content: center;
    border-radius: 20%;
}

.merch img:hover {
    cursor: pointer;
    background: linear-gradient(#1E90FF, #FF1493, #FF8C00);
    /*border-radius: 20%;*/
}

#h3-show {
    text-align: center;
    vertical-align: baseline;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding: 0;
    border: 0;
    font-weight: 100;
    /*color: #000;*/
}


/* Footer CSS */


.footer-inforamtion {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: "Open Sans","Tahoma",sans-serif;
}

.footer-inforamtion h2 {
    font-size: 1.375rem;
    margin-top: 0.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    display: block;
}

.footer-inforamtion p {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    margin-top: 0;
    text-rendering: auto;
    display: block;
    box-sizing: inherit;
}

.img-vertikal-itg-href {
    text-align: center;
    justify-content: center;
    display: block; 
    position: relative;
    margin: 2rem 0;
    max-width: 100%;
}

.img-vertikal-itg-href:hover {
    opacity: 0.8;
}

.line-border-top {
    border-top: 2px solid rgba(255, 255, 255, 0.095);
}

.social-media {
    display:flex !important;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 1.4;
}

.fa-instagram:hover {
    background-color: dodgerblue;
    color: #fff;
}

.fa-facebook:hover {
    background-color: deeppink;
    color: #fff;
}

.fa-twitter:hover {
    background-color: darkorange;
    color: #fff;
}

.fb-ig-imgs-li {
    margin: auto;
    display: block;
    flex: 1 0 auto !important;
}

.social-media li {
    list-style: none;
    display: block;
    margin: 1rem;
}

.footer-div-content {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

#footer-div {
    background-color: #000;
    margin: 0;
    padding: 1.5rem;
    border: 0;
    height: auto;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* Targaryen Stark Lannister CSS (test-html also) produkt template*/


#information-about-merch {
    padding: 25px;
}

.simpleCart_shelfItem {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.info-img img {
    max-width: 650px;
    max-height: 650px;
    width: auto;
    height: auto;
    position: relative;
    margin-right: 25px;
}

.info-txt {
    width: 885px;
    text-align: center;
    margin-left: 25px;
}

.info-txt h2 {
    font-size: 80px;
    margin-top: 0.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase;
    display: block;
    color: #000;
}

.info-txt p {
    font-size: 20px;
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 1.4;
    text-rendering: auto;
    display: block;
    box-sizing: inherit;
    color: #000;
}

i.fa-cart-arrow-down {
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 70px;
}

i.fa-cart-arrow-down:hover {
    opacity: 0.7;
}

.size p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    font-weight: bold;
}

.size select, 
.size option {
    font-size: 20px;
    text-align: left;
}

.size select {
    margin-bottom: 1.5rem;
}

.info_price p {
    font-weight: bold;
    font-size: 30px;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* Shopping-Cart CSS */

.shopping_cart_main {
    min-height: 300px;
    padding: 10px;
    background-color: #fff;
}

.shopping_cart_content_shelf_checkout {
    width: 100%;
}

.simpleCart_items table{
    width: 100%;
    text-align: center;
    justify-content: center;
    flex: wrap;
}

.simpleCart_items table thead th {
    width: 10%;
    font-size: 40px;
    border-bottom: 2px solid #000;
}

.simpleCart_items table tbody td {
    padding-top: 10px;
    font-size: 20px;
}

.simpleCart_items table tbody td .simpleCart_remove {
    text-decoration: none;
    font-size: 30px;
    color: #ff0000;
    font-weight: 900;
}

.simpleCart_items table tbody td .simpleCart_remove:hover {
    font-size: 60px;
    -webkit-transition: all ease-in-out 0.5s 0.5ms ;
    -moz-transition: all ease-in-out 0.5s 0.25ms;
    transition: all ease-in-out 0.5s 0.25ms;
}

.simpleCart_items table tbody td input {
    width: 25%;
    text-align: center;
}

.simpleCart_items table img {
    width: 100px;
    height: auto;
    padding: 5px 0;
}

.grand_total_p {
    color: #000;
    text-align: right;
    border-bottom: 1px solid #b6b6b6;
    border-top: 1px solid #B6B6B6;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.grand_total_p span {
    font-weight: normal;
}

.shopping_cart_buttons {
    min-height: 45px;
}

.shopping_cart_buttons button:hover {
    opacity: 0.7;
}

.checkout_button, 
.kepp_shopping_button,
.empty_shopping_cart {
    color: #fff;
    width: auto;
    background-color: #000;
    font-size: 18px;
    padding: 5px 25px;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.kepp_shopping_button {
    float: left;
    border: 2px solid #1E90FF;
}

.empty_shopping_cart {
    border: 2px solid #FF1493;
    margin-left: 10px;
}

.checkout_button {
    float: right;
    border: 2px solid #FF8C00;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* About CSS */

#about_main_div {
    padding: 25px;
}

.about_div_content {
    align-items: flex-start;
    display: flex;
    flex: wrap;
    justify-content: center;
}

.about_img_plus {
    width: 20%;
    margin: 0;
    padding: 0;
    border: 0;
}

.about_img_plus h2 {
    color: #000;
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
}

.about_img_plus img {
    border: 2px solid #FF1493;
    width: auto;
}

.about_text {
    width: 80%;
    margin: 0;
    padding: 0;
    border: 0;
}

.about_text h1, 
.about_text h2, 
.about_text h3, 
.about_text h4, 
.about_text h5, 
.about_text p {
    color: #000;
}

.about_text h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
}

.about_text_content {
    width: 100%;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Media CSS */


/*@media screen and (max-width: 1850px) {
    .middle-img-plac-txt div {
        margin-top: 10px;
    }
}*/

@media screen and (max-width: 1540px) {
    .middle-img-plac-txt div {
        width: 210px;
        height: 150px;
        margin: 0;
    }

    .middle-img-plac-txt div p {
        font-size: 13px;
        height: auto;
    }
    
    
    .first-img-middle-plac {
        width: 210px;
        height: auto;
    }
    
    .merch img {
        width: 200px;
        height: 220px;
    }
    
    .info-img img {
        max-width: 525px;
        max-height: 525px;
    }
    
    .info-txt {
        width: 550px;
    }
    
    .info-txt h2 {
        font-size: 49px;
    }
    
    i.fa-cart-arrow-down {
        font-size: 69px;
    }
    
    .info-txt p {
        font-size: 18px;
    }

    .size select, 
    .size option {
        font-size: 18px;
    }

    #h3-show {
        font-size: 22px;
    }

    .shopping_cart_mini {
        width: 400px;
    }

    .shopping_cart_mini .simpleCart_items table thead th {
        font-size: 16px;
        width: 10%;
    }

    .shopping_cart_mini .simpleCart_items table tbody td,
    .shopping_cart_mini .simpleCart_items table tbody td .simpleCart_remove {
        font-size: 11px;
    }

    .shopping_cart_mini .simpleCart_items table tbody td input {
        font-size: 11px;
    }
    
}

@media screen and (max-width: 1517px) {
    .info-txt {
        margin: 0;
    }
    
    .info-img img {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .info-img img {
        max-width: 550px;
        max-height: 550px;
    }

    .header-place-h1 {
        display: none;
        visibility: hidden;
    }

    .middle-img-plac-txt {
        justify-content: center;
    }

    .simpleCart_items table thead th {
        font-size: 30px;
    }

    .simpleCart_items table tbody td {
        font-size: 16px;
    }

    .checkout_button, 
    .kepp_shopping_button, 
    .empty_shopping_cart {
        font-size: 16px;
    }

    .simpleCart_items table img {
        width: 75px;
        height: inherit;
    }

    .shopping_cart_mini .simpleCart_items table tbody td {
        padding-top: 5px;
    }

    .shopping_cart_mini .simpleCart_items table tbody td img {
        width: 50px;
        height: auto;
    }

    .shopping_cart_buttons_top {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .info-img img {
        max-width: 400px;
        max-height: 400px;
    }

    .img-bar-top-href img {
        width: 100px;
        height: 100px;
    }
    
    .headline-text h1 {
        font-size: 40px;
        padding: 0;
        text-align: center;
        height: auto;
    }

    .f1f1f1-color-div {
        height: 50px;
    }
    
    i.fa-cart-plus {
        right: 1%;
        top: 1%;
        margin: 0;
        font-size: 40px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        background: none;
    }  
    
    i.fa-cart-plus:hover {
        background: none;
        opacity: 0.8;
    }

    .shopping_cart_mini .grand_total_p {
        font-size: 16px;
    }

    .shopping_cart_mini h1 {
        font-size: 30px;
    }

    .shopping_cart_main {
        min-height: 300px;
    }

    .simpleCart_items table thead th {
        font-size: 16px;
    }

    .simpleCart_items table tbody td {
        font-size: 12px;
    }

    .simpleCart_items table tbody td input {
        width: 70%;
    }

    .simpleCart_items table tbody td img {
        width: 50px;
    }

    .simpleCart_items table tbody td .simpleCart_remove {
        font-size: 16px;
    }

    .grand_total_p {
        font-size: 16px;
        padding: 10px 0;
    }

    .checkout_button, 
    .kepp_shopping_button, 
    .empty_shopping_cart {
        font-size: 14px;
        margin: 0;
        width: auto;
    }

    .shopping_cart_buttons_bottom {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:450px) {
    .img-bar-top-href img {
        width: 75px;
        height: 75px;
        left: 0;
        top: 0;
    }

    .shopping_cart_mini {
        width: 375px ;
    }

    .merch img {
        padding: 2px;
        height: auto;
    }

    .info-img img {
        width: 200px;
        height: auto;
    }
    
    .info-txt {
        max-width: 90%;
    }
    
    .info-txt h2 {
        font-size: 30px;
    }

    .size select, 
    .size option,
    .info-txt .info_price p,
    .info-txt .size p {
        font-size: 16px;
    }
    
    .info-txt p {
        font-size: 12px;
    }
    
    i.fa-cart-arrow-down {
        font-size: 40px;
    }
}

@media screen and (max-width:400px) {
    .first-img-middle-plac {
        width: 150px;
        height: auto;
    }
    
    .middle-img-plac-txt div {
        width: 150px;
        height: auto;
        font-size: 11px;
    }
    
    .img-vertikal-itg-href img {
        width: 200px;
        height: auto;
    }
    
    .shopping_cart_mini {
        width: 350px;
    }

    .shopping_cart_mini .simpleCart_items table tbody td .simpleCart_remove  {
        font-size: 11px;
    }

    .shopping_cart_mini .simpleCart_items table tbody td img {
        width: 35px;
        height: auto;
    }

    .shopping_cart_mini .simpleCart_items table thead th {
        font-size: 14px;
    }

    .shopping_cart_mini .simpleCart_items table tbody td {
        font-size: 11px;
    }

    .simpleCart_items table tbody td img {
        width: 40px;
    }

    .simpleCart_items table tbody td {
        font-size: 11px;
    }

    .simpleCart_items table thead th {
        font-size: 15px;
    }

    .checkout_button, 
    .kepp_shopping_button, 
    .empty_shopping_cart {
        font-size: 12px;
    }

@media screen and (max-width:350px) {
    .headline-text h1 {
        font-size: 30px;
    }

    i.fa-cart-plus {
        font-size: 30px;
        right: 0.5%;
        top: 0.5%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .shopping_cart_mini {
        width: 300px;
    }

    .shopping_cart_mini .simpleCart_items table tbody td img,
    .shopping_cart_mini .simpleCart_items table tbody td .simpleCart_remove,
    .simpleCart_items table tbody td img,
    .empty_shopping_cart  {
        display: none;
    }

    .checkout_button, 
    .kepp_shopping_button {
        font-size: 12px;
    }

    .shopping_cart_main {
        min-height: 200px;
    }

    .shopping_cart_mini .grand_total_p {
        padding-top: 10px;
    }
}